#header {
  @include flex-center; // flex-center 믹스인을 사용하여 중앙 정렬
  flex-direction: column; // 요소들을 세로로 정렬
  width: 100%; // 전체 높이를 채우도록 설정
  background-color: $main-white;
}

.logo {
  width: 140px;
  padding: 20px;
  cursor: pointer;
}

.header_menu {
  width: 100%;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    align-items: center;

    li {
      padding: 20px;
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
      a {
        color: var(--main-color);
        display: block;
        transition: all 0.3s;
        text-decoration: none;
      }
    }
  }
}

// 메뉴 클릭시 메뉴 글자 스타일
.header_menu .menu li.active a {
  @include active;
}
