.form-wrap {
  @include flex-center;
  height: 100%;

  .login-form {
    @include container;
    padding: 3em;
    border: 0;
    border: {
      radius: 16px;
    }

    h1 {
      font-size: 2em;
      margin: 0;
      margin-bottom: 1em;
    }

    .input-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        width: 100%;
        border-radius: 10px;
        padding: 0.5em;
        padding-left: 1em;
        font-size: 1.2em;
        background-color: transparent;
        border: transparent;
      }
      input::placeholder {
        color: var(--main-color);
      }
      input:focus {
        outline: 0;
      }

      .alert {
        display: block;
        height: 1.5em;
        font-size: 14px;
        color: var(--main-black);
        text-align: center;
        margin: 0;
      }
    }
    button {
      width: 100%;
      padding-left: 1em;
      @include main-button;
    }

    .button_signup {
      background-color: lightgray;
    }

    .link-container a {
      text-decoration: none;
    }

    a {
      color: var(--main-white);
    }
    .user-wrap {
      display: flex;
      justify-content: center;
      margin-top: 1em;
      gap: 2em;
    }

    .guide {
      color: #000;
    }

    .line {
      width: 100%;
      border: solid 0.5px rgb(237, 217, 171);
    }
  }
}
