.wrap {
  @include position-center;
  @include flex-center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 20rem;
  padding-bottom: 5rem;
  align-items: flex-start;

  .myPage-form {
    @include container;

    display: flex;
    transform: translateY(-5rem);
    padding: 3em;
    border: 0;
    width: 350px;

    margin-bottom: 5rem;
    margin: 1rem;

    .tourlist {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    border: {
      radius: 16px;
      top: 0.5px solid var(--main-white);
      left: 0.5px solid var(--main-white);
    }

    &.mypage {
      @include flex-center;
      height: 400px;
    }

    &.tours {
      // background-color: aqua;
      flex-direction: column;
    }

    .delete-part {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .delete-btn {
      width: 70px;
      height: 30px;
      font-size: 15px;
      padding: 2px;
      margin: 10px 0 10px 10px;
      font-weight: bold;
    }

    div {
      // .myPage-form과 동시에 반응형으로 움직여야함
      // font-size: 18px;
      margin-top: 7px;
    }

    h1 {
      font-size: 1.5em;
      margin: 0;
      margin-bottom: 1em;
    }
    .img-info-wrap {
      display: flex;
      // gap: 1em;
      .input-wrap {
        width: 100%;
      }
    }

    h2 {
      margin: 0;
      font-family: var(--pointfont);
      font-weight: lighter;
    }

    .input-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        width: 100%;
        border-radius: 10px;
        padding: 0.5em;
        padding-left: 1em;
        font-size: 1.2em;
        background-color: transparent;
        border: 1px solid var(--main-white);
      }
      input::placeholder {
        color: var(--main-white);
      }
      input:focus {
        outline: 0;
      }

      .img-wrap {
        input {
          display: none;
        }
        .upload-img {
          @include flex-center;
          flex-direction: column;
          border-radius: 10em;
          border: solid 1px var(--main-white);
          // padding: 1em;
          svg {
            width: 3em;
            height: auto;
          }
        }
        .uploaded-img {
          width: 9em;
          height: 9em;
          object-fit: cover;
          border-radius: 10em;
        }
      }
    }
    button {
      font-family: var(--pointfont);
      color: #333333 !important;
      font-weight: lighter !important;
      width: 100%;
      border-radius: 10px;
      padding: 0.5em;
      padding-left: 1em;
      font-size: 1.2em;
      margin-top: 1rem;
      cursor: pointer;
      background-color: var(--main-bgcolor);
      color: var(--main-black);
      border: transparent;
      font-weight: bold;
      &:hover {
        background-color: var(--main-button);
        color: #000;
      }
    }

    .bottom-wrap {
      @include flex-between;
      margin: 1em 1em 0;
      // gap: 2em;
      .delete-user {
        cursor: pointer;
      }
    }
  }
  @media (max-width: 768px) {
    @include flex-center;
    padding-top: 30rem;
    flex-direction: column;
  }
}
