// 박스 디자인(공통 디자인) -------------------------------------

@mixin container {
  background-color: var(--main-white);
  color: var(--main-color);
  // border: 1px solid var(--main-white);
  // border-radius: 10px;
}

@mixin input-box {
  width: 100%;
  border-radius: 10px;
  padding: 0.5em;
  padding-left: 1em;
  font-size: 1.2em;
  background-color: transparent;
  border: 1px solid var(--main-grey);
}

// 버튼 관련
@mixin main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 0.5em;
  font-size: 1.2em;
  cursor: pointer;
  background-color: var(--main-bgcolor);
  color: var(--main-black);
  border: none;
  &:hover {
    background-color: var(--main-hove-color);
    color: #000;
  }
}

@mixin h3-tag {
  color: $map-hcolor;
  margin: 5px 0 5px 3px;
  font-family: var(--pointfont);
  font-weight: lighter;
  font-size: 16px;
}

@mixin s-box {
  background-color: var(--main-bgcolor);
  color: var(--main-color);
  border: 1px solid var(--main-white);
  border-radius: 5px;
}

@mixin active {
  color: #000000;
  text-shadow: 0 0 10px #000000;
}

// 에러 메시지(ex.필수값 입력하세요)
@mixin error-message {
  color: #fcbaba;
  font-size: smaller;
  margin: 7px 0 7px 0;
}

// 정렬 관련 -------------------------------------

// 가운데 정렬
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 양쪽 정렬
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// 중앙 정렬
@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// 상단 고정
@mixin position-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

//내부요소 내리기
@mixin inner-contents {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 100px 0px 0px 0px;
  justify-content: center;
}

@mixin button-size {
  font-size: large;
  width: 70px;
  height: 30px;
  margin: 4px;
}
