.test_PlannerTable {
  @include flex-center;
  display: flex;
  overflow-x: auto;
  width: 100%;
  background-color: rgb(235, 167, 189);
}

.day-table {
  background-color: rgb(147, 216, 112);
}

.selected {
  background-color: #a0d0e0; /* 예시 색상 */
}
